<configuration>

    <!-- Цветной вывод -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n"/>

    <!-- Консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Уровни логирования -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>

    <!-- ТВОЙ пакет (замени на свой!) -->
    <logger name="ru.practicum" level="DEBUG"/>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>